In [1]:
import numpy as np

In [2]:
lst = [2,4,6,8,13,2020]
numpy_arr = np.array(lst)
numpy_arr

array([   2,    4,    6,    8,   13, 2020])

In [3]:
numpy_arr.shape

(6,)

In [4]:
numpy_arr[1]
numpy_arr[-2:]
numpy_arr[:-2]

array([2, 4, 6, 8])

numpy_arr[-2:]

In [5]:
numpy_arr[-2:]

array([  13, 2020])

In [6]:
lst_2d = [[3, 5, 7, -4, 1], [0, 5, 33, -750, 2]]
numpy_arr_2d = np.array(lst_2d)
numpy_arr_2d

array([[   3,    5,    7,   -4,    1],
       [   0,    5,   33, -750,    2]])

In [7]:
numpy_arr_2d[:,1]

array([5, 5])

In [12]:
numpy_arr_2d[:,1:4]

array([[   5,    7,   -4],
       [   5,   33, -750]])

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [16]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:
df.shape

(150, 5)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [19]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [20]:
df.petal_width.unique()

array([0.2, 0.4, 0.3, 0.1, 0.5, 0.6, 1.4, 1.5, 1.3, 1.6, 1. , 1.1, 1.8,
       1.2, 1.7, 2.5, 1.9, 2.1, 2.2, 2. , 2.4, 2.3])

In [22]:
[df.species == 'setosa']

[0       True
 1       True
 2       True
 3       True
 4       True
        ...
 145    False
 146    False
 147    False
 148    False
 149    False
 Name: species, Length: 150, dtype: bool]

In [26]:
arr = np.array(22)
print(arr)

22

In [28]:
arr = np.array('start')
print(arr)

start

In [32]:
arr = np.array(['start', 'length', 'stop'])
print(arr)

['start' 'length' 'stop']

In [35]:
a = np.empty((0))
for i in range(6,100,4):
    a = np.append(a, i)
print(a)

[ 6. 10. 14. 18. 22. 26. 30. 34. 38. 42. 46. 50. 54. 58. 62. 66. 70. 74.
 78. 82. 86. 90. 94. 98.]

In [37]:
b = np.array([1,2,3,np.nan,5,6,7,np.nan])
print(b)

a = np.append(a,b)
print(a)

[ 1.  2.  3. nan  5.  6.  7. nan]
[ 1.  2.  3. nan  5.  6.  7. nan  1.  2.  3. nan  5.  6.  7. nan]

In [50]:
random_generator = np.random.default_rng()
x = np.arange(0,30).reshape(5,6)
print(x)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]]

In [51]:
import pandas as pd

In [52]:
series = pd.Series(np.take(list('abcdefghijklmnop'), np.random.randint(16, size=500)))

In [64]:
letter_arr = np.take(list('abcdefghijklmnop'),  np.random.randint(16, size=500))
(unique, counts) = np.unique(letter_arr, return_counts=True)
frequencies = np.asarray((unique,counts)).T
print(frequencies)

[['a' '34']
 ['b' '29']
 ['c' '29']
 ['d' '31']
 ['e' '32']
 ['f' '36']
 ['g' '35']
 ['h' '28']
 ['i' '31']
 ['j' '31']
 ['k' '35']
 ['l' '28']
 ['m' '32']
 ['n' '25']
 ['o' '34']
 ['p' '30']]

In [97]:
import dateutil.parser as dparser
import numpy as np
series = pd.Series(['01 Jan 2020', '10-19-2020', '20150303', '2013/04/04', '2012-05-05', '2013-06-06T12:20'])
df['series'] = pd.to_datetime(series)
for x in range(5):
     print(df.loc[x].day_name())
for x in range(5):
    print(df.loc[x].month_name())
    
df['series'].dt.year
df['series'].dt.month
df['series'].dt.day

Wednesday
Monday
Tuesday
Thursday
Saturday
January
October
March
April
May

0     1
1    19
2     3
3     4
4     5
5     6
dtype: int64

In [155]:
df = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv")
df2 = df.rename(columns = {'Type': 'TypeOfCar'}, inplace = False)
df2.head()
#df2 = df2.drop(["EngineSize","Length"], axis=1)
#df2.info()

del df2["EngineSize"]
del df2["Length"]
df2.head()





#df2 = df2.drop(df2.columns[[11,18]], axis = 1, inplace = True)

,Manufacturer,Model,TypeOfCar,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [176]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

df1.head()
df2.head()

df2 = df2.rename(columns={'pazham': 'fruit', 'kilo': 'weight'}, inplace=True)
new_df = pd.concat([df1, df2]).drop_duplicates()
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fruit   7 non-null      object
 1   weight  7 non-null      object
 2   price   7 non-null      int32
dtypes: int32(1), object(2)
memory usage: 196.0+ bytes

In [244]:
df = pd.DataFrame(["STD,City\tState",
"33,Kolkata\tWest Bengal",
"44,Chennai\tTamil Nadu",
"40,Hyderabad\tTelengana",
"80,Bangalore\tKarnataka"], columns=['row'])

df.head()

df = pd.Series(["STD,City\tState",
"33,Kolkata\tWest,Bengal",
"44,Chennai\tTamil,Nadu",
"40,Hyderabad\tTelengana",
"80,Bangalore\tKarnataka"])

#df_new = df.str.split(',', expand=True)

#df_new.head()









    


# Desired Output:
# 0 STD        City        State
# 1  33     Kolkata  West Bengal
# 2  44     Chennai   Tamil Nadu
# 3  40   Hyderabad    Telengana
# 4  80   Bangalore    Karnataka

     0                     1       2
0  STD           City\tState    None
1   33         Kolkata\tWest  Bengal
2   44        Chennai\tTamil    Nadu
3   40  Hyderabad\tTelengana    None
4   80  Bangalore\tKarnataka    None

In [ ]:
names = ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "model_year", "origin", "car_name"]
df_mpg = pd.read_csv("auto-mpg.data", header=None, names=names, delim_whitespace=True)

In [103]:
np.random.randint(0,15,6)

array([ 5,  8,  7,  0, 14,  2])

In [54]:
series.info

AttributeError: 'Series' object has no attribute 'info'

In [56]:
series.unique()

array(['d', 'p', 'm', 'i', 'n', 'j', 'o', 'k', 'h', 'l', 'c', 'a', 'f',
       'e', 'b', 'g'], dtype=object)

In [57]:
series.array()

TypeError: 'PandasArray' object is not callable